<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Dúvidas frequëntes</h1>
		<div class="button button-clear" ng-click="faqs_modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<div class="faqs">
			<ul class="list">
				<li class="faq-item">
					<h5>Como colocar fotos?</h5>
					<p>Siga as instruções
                        <ul>
                            <li><a href="http://www.dlima.art.br/lab/api/wp-login.php" target="_system">CLIQUE AQUI</a></li>
                            <li>Logue a sua conta</li>
                            <li>Vá em perfil</li>
                            <li>Profile Photo</li>
                            <li>Atualizar</li>
                            <li>Após isso sai e logue novamente no APP</li>
                        </ul>
                </p>
				</li>
				
			</ul>
		</div>
	</ion-content>
</ion-modal-view>
