<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Termos de uso</h1>
		<div class="button button-clear" ng-click="terms_modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<div class="terms-of-service">
			<p>Ultima modificação: 26 de Junho, 2015</p>
			<h4 class="title">Como coletamos informações</h4>
			<p>Nosso principal objetivo ao coletar informações pessoais é levar até você o melhor e mais útil conteúdo e serviços.</p>
			<h4 class="title">Como usamos esses dados</h4>
			<p>Utilizamos as informações genéricas que obtemos para continuamente melhorar nosso sistema, veiculo de publicidade e oferecer alternativas de comércio. Alêm disso, usamos os dadaos(tanto genéricos quanto pessoais) para melhorar sua experiência, oferecendo conteúdo, propaganda e produtos que acreditamos ser relevantes para você</p>
			<p>Utilizamos seu e-mail para enviar produtos do site(como nosso boletim semanal) ou para divulgar eventos, desde que solicitados por você. Nosso objetivo é retribuir sua atenção encaminhado-lhe eventos diversos.</p>
			<h4 class="title">Segurança</h4>
			<p>Para garantir que somente pessoas autorizadas tenham acesso às informações, garantir a coerência dos dados e assegurar o uso correto das informações, ultilizamos as melhores técnologias do mercado e uma equipe dedicada a gerenciar as informações que coletamos online, garantindo assim a segurança dos seus dados.</p>
		</div>
	</ion-content>
</ion-modal-view>
